<html>
    <head>

    </head>
    <body>
        <main>
            <h1>Activities</h1>
            <% activities.forEach( (activity) => {  %>
                <li> <%= activity.name %> <%= activity.money %></li>
            <% }) %>
            <form method="POST" action="/activities/donate">
                <input placeholder="your name" type="text" name="userName">
                <input placeholder="password" type="text" name="password">
                <select name="activityName">
                    <% activities.forEach( (activity) => {  %>
                        <option value=<%= activity.name %>> <%= activity.name %></option>
                    <% }) %>
                </select>
                <input placeholder="amount of money" type="number" name="money">
                <button type="submit">Donate</button>
            </form>
        </main>
    </body>
</html>